In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.metrics import classification_report, accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
from sklearn.metrics import roc_auc_score
from sklearn import tree

from sklearn.model_selection import KFold

In [3]:
# Визуализация матрицы корреляций

def plot_correlation_matrix(corr_mtrx):
    f = plt.figure(figsize=(8, 8))
    plt.matshow(corr_mtrx, fignum=f.number)
    plt.xticks(range(corr_mtrx.shape[1]), fontsize=9, rotation=45)
    plt.yticks(range(corr_mtrx.shape[1]), fontsize=9)
    cb = plt.colorbar()
    plt.title('Correlation Matrix', fontsize=10)

# Загрузка данных

In [49]:
df_train = pd.read_csv('contest_train_binary.csv', header = 0, sep = ',')
df_test = pd.read_csv('contest_test.csv', header = 0, sep = ',')
df_res = pd.read_csv('sample_sub.csv', header = 0, sep = ',')

In [5]:
df_train

,ID,TARGET,FEATURE_0,FEATURE_1,FEATURE_2,FEATURE_3,FEATURE_4,FEATURE_5,FEATURE_6,FEATURE_7,...,FEATURE_250,FEATURE_251,FEATURE_252,FEATURE_253,FEATURE_254,FEATURE_255,FEATURE_256,FEATURE_257,FEATURE_258,FEATURE_259
0,1053371037,1,2.0,2.0,0.0,0.0,0.0,0.0,0.0,-114.527812,...,39.0,2.0,223.118594,290.015143,1.0,1.0,0.0,1.0,2.0,2.0
1,76507184,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,329.828334,...,25.0,82.0,479.616045,611.651594,0.0,1.0,0.0,1.0,1.0,1.0
2,76753690,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.427338,...,119.0,0.0,352.268014,564.573421,1.0,1.0,0.0,1.0,1.0,1.0
3,1026167358,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,23.621397,...,1.0,0.0,410.524985,421.653876,1.0,0.0,0.0,1.0,2.0,2.0
4,7220095746,0,4.0,3.0,1.0,0.0,1.0,0.0,0.0,677.745861,...,21.0,0.0,439.171356,476.189288,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24516,1152298722,1,7.0,2.0,0.0,0.0,0.0,0.0,0.0,-36.555841,...,35.0,0.0,439.424027,431.111705,0.0,0.0,0.0,1.0,1.0,1.0
24517,1154036659,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,-8.589135,...,52.0,0.0,355.145856,410.288394,1.0,1.0,0.0,2.0,1.0,2.0
24518,1152393779,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.095346,...,0.0,0.0,110.133312,115.087534,0.0,0.0,0.0,1.0,1.0,1.0
24519,1153761763,1,3.0,2.0,0.0,0.0,0.0,0.0,0.0,-14.182606,...,0.0,0.0,514.319183,583.248265,1.0,0.0,0.0,1.0,2.0,1.0
24520,1153760355,0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,-9.308210,...,18.0,2.0,606.348149,1020.831443,1.0,1.0,0.0,1.0,2.0,1.0

In [50]:
df_test

,ID,FEATURE_0,FEATURE_1,FEATURE_2,FEATURE_3,FEATURE_4,FEATURE_5,FEATURE_6,FEATURE_7,FEATURE_8,...,FEATURE_250,FEATURE_251,FEATURE_252,FEATURE_253,FEATURE_254,FEATURE_255,FEATURE_256,FEATURE_257,FEATURE_258,FEATURE_259
0,1154270440,1.0,1.0,0.0,0.0,0.0,0.0,0.0,-46.950807,-45.018511,...,0.0,0.0,190.587701,162.047775,1.0,0.0,1.0,1.0,1.0,1.0
1,1147987574,0.0,0.0,1.0,0.0,0.0,0.0,0.0,343.627489,NaN,...,5.0,109.0,594.572663,685.500149,1.0,1.0,0.0,1.0,1.0,2.0
2,1129622364,0.0,0.0,0.0,0.0,1.0,0.0,0.0,909.178045,3260.445427,...,0.0,297.0,10.214396,300.397949,0.0,0.0,0.0,1.0,1.0,1.0
3,619797496,6.0,2.0,0.0,0.0,0.0,0.0,0.0,-4.499021,-93.374738,...,1.0,2.0,334.873280,363.739214,1.0,1.0,1.0,2.0,2.0,1.0
4,7391484886,1.0,1.0,0.0,0.0,0.0,0.0,0.0,-23.189787,-35.810318,...,83.0,136.0,551.413748,769.830050,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479,1413710992,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.726458,-48.792618,...,0.0,1.0,422.412854,491.973343,1.0,1.0,0.0,1.0,1.0,1.0
9480,518946240,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-24.461473,28.206388,...,0.0,0.0,229.775348,292.667843,1.0,0.0,0.0,1.0,1.0,1.0
9481,35086884,52.0,1.0,0.0,0.0,0.0,0.0,0.0,29.749503,17.018437,...,254.0,170.0,451.107537,840.694809,0.0,0.0,0.0,1.0,1.0,1.0
9482,1135289763,1.0,1.0,0.0,0.0,0.0,0.0,0.0,-33.588344,-58.432009,...,0.0,3.0,339.320054,424.838449,1.0,1.0,0.0,1.0,1.0,1.0
9483,3110426355,25.0,1.0,0.0,0.0,0.0,0.0,0.0,-42.926193,-19.097199,...,54.0,0.0,919.953746,909.708652,1.0,1.0,0.0,1.0,2.0,1.0

In [7]:
df_res

              ID  TARGET
0     1154270440     0.1
1     1147987574     0.1
2     1129622364     0.1
3      619797496     0.1
4     7391484886     0.1
...          ...     ...
9479  1413710992     0.1
9480   518946240     0.1
9481    35086884     0.1
9482  1135289763     0.1
9483  3110426355     0.1

[9484 rows x 2 columns]

In [8]:
df_y_train = df_train['TARGET']
df_train.drop('TARGET', axis=1, inplace=True)
df_train.drop('ID', axis=1, inplace=True)

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24521 entries, 0 to 24520
Columns: 260 entries, FEATURE_0 to FEATURE_259
dtypes: float64(260)
memory usage: 48.6 MB

In [11]:
df_train.describe()

,FEATURE_0,FEATURE_1,FEATURE_2,FEATURE_3,FEATURE_4,FEATURE_5,FEATURE_6,FEATURE_7,FEATURE_8,FEATURE_9,...,FEATURE_250,FEATURE_251,FEATURE_252,FEATURE_253,FEATURE_254,FEATURE_255,FEATURE_256,FEATURE_257,FEATURE_258,FEATURE_259
count,24521.000000,24521.000000,24521.000000,24521.0,24521.000000,24521.000000,24521.000000,24521.000000,23377.000000,24521.000000,...,24521.000000,24521.000000,24521.000000,24521.000000,24521.000000,24521.000000,24521.0,24521.000000,24521.00000,24521.000000
mean,5.438196,1.337833,0.056401,0.0,0.141226,0.000163,0.011378,80.762084,278.787390,0.383304,...,41.057379,36.403205,307.827071,408.052350,0.611965,0.640390,0.0,1.138575,1.18580,1.184699
std,14.533334,1.826413,0.230698,0.0,0.348262,0.012771,0.106061,256.605853,1206.454609,0.867586,...,105.000146,105.872566,259.669681,349.968987,0.487312,0.479896,0.0,0.373638,0.40809,0.401288
min,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,-171.709797,-297.065679,0.000000,...,-1256.000000,-667.000000,-1531.063435,-328.361649,0.000000,0.000000,0.0,1.000000,0.00000,1.000000
25%,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,-9.809139,-21.011023,0.000000,...,0.000000,0.000000,129.829124,179.694989,0.000000,0.000000,0.0,1.000000,1.00000,1.000000
50%,1.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,3.673798,4.169065,0.000000,...,6.000000,0.000000,265.472906,326.928038,1.000000,1.000000,0.0,1.000000,1.00000,1.000000
75%,5.000000,2.000000,0.000000,0.0,0.000000,0.000000,0.000000,27.367809,37.939371,0.000000,...,39.000000,10.000000,408.197249,533.731611,1.000000,1.000000,0.0,1.000000,1.00000,1.000000
max,385.000000,39.000000,1.000000,0.0,1.000000,1.000000,1.000000,3147.341440,9963.242114,11.000000,...,1775.000000,3194.000000,4202.905396,4440.534979,1.000000,1.000000,0.0,3.000000,3.00000,3.000000

# Предобработка

In [12]:
# Поскольку в данном датасете фичи не зависят от времени, будем заменять NaN на наиболее часто встречающееся (median)
for feature_name in df_train:
    df_train[feature_name].fillna(df_train[feature_name].median(), inplace = True)

# KFOLDS

In [25]:
kf = KFold(n_splits=10, shuffle=True, random_state=0)

knew = KNeighborsClassifier(n_neighbors=10)
logreg = LogisticRegression(solver = 'liblinear')
destree = tree.DecisionTreeClassifier(criterion='entropy', random_state=0)

scores_knew = []
scores_logreg = []
scores_destree = []

X = np.array(df_train)
y = np.array(df_y_train)
y.shape

for train_index, test_index in kf.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    knew.fit(X_train, y_train)
    logreg.fit(X_train, y_train)
    destree.fit(X_train, y_train)
    
    pred_knew = knew.predict_proba(X_test)
    pred_logreg = logreg.predict_proba(X_test)
    pred_destree = destree.predict_proba(X_test)
    
    scores_knew.append(roc_auc_score(y_test, pred_knew[:,1]))
    scores_logreg.append(roc_auc_score(y_test, pred_logreg[:,1]))
    scores_destree.append(roc_auc_score(y_test, pred_destree[:,1]))
    print("done")
    
    

scores_knew = np.array(scores_knew)
scores_logreg = np.array(scores_logreg)
scores_destree = np.array(scores_destree)

data_res = [{'mean': scores_knew.mean(),  'std': scores_knew.std()}, 
            {'mean': scores_logreg.mean(),  'std': scores_logreg.std()},
            {'mean': scores_destree.mean(),  'std': scores_destree.std()}]

results_pd = pd.DataFrame(data = data_res, columns = ['mean','std'], index = ['KNeighbors', 'LogisticRegression', 'DecisionTree'])

print("Here is some information about KFold when n_splits=10")
results_pd

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

done

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

done

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

done

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

done

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

done

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

done

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

done

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

done

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

done

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

done

NameError: name 'numpy' is not defined

In [26]:
scores_knew = np.array(scores_knew)
scores_logreg = np.array(scores_logreg)
scores_destree = np.array(scores_destree)

data_res = [{'mean': scores_knew.mean(),  'std': scores_knew.std()}, 
            {'mean': scores_logreg.mean(),  'std': scores_logreg.std()},
            {'mean': scores_destree.mean(),  'std': scores_destree.std()}]

results_pd = pd.DataFrame(data = data_res, columns = ['mean','std'], index = ['KNeighbors', 'LogisticRegression', 'DecisionTree'])

print("Here is some information about KFold when n_splits=10")
results_pd

Here is some information about KFold when n_splits=10

                        mean       std
KNeighbors          0.541396  0.009678
LogisticRegression  0.625022  0.010668
DecisionTree        0.526233  0.010276

# Обучение

In [18]:
# Выделилили Validation
X_train, X_test, y_train, y_test = train_test_split(df_train, df_y_train, test_size = 0.25, random_state = 13)

In [19]:
X_train.shape, y_train.shape

((18390, 260), (18390,))

In [27]:
logreg = LogisticRegression(solver = 'liblinear')

# обучаем дерево
logreg.fit(X_train, y_train)

# предсказание на тестовой и обучающей выборках
y_pred_test = logreg.predict_proba(X_test)
y_pred_train = logreg.predict_proba(X_train)

/Users/ilalevuskin/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [28]:
# метрики при обучении, используя библиотеку sklearn
skl_roc_train = roc_auc_score(y_train, y_pred_train[:, 1])
skl_roc_test = roc_auc_score(y_test, y_pred_test[:, 1])

In [29]:
print(skl_roc_train)
print(skl_roc_test)

0.6477459537432849
0.6288883652856251

# Результат

In [51]:
df_test_id = df_test['ID']
df_test.drop('ID', axis=1, inplace=True)

In [53]:
for feature_name in df_test:
    df_test[feature_name].fillna(df_test[feature_name].median(), inplace = True)

In [57]:
y_res = logreg.predict_proba(df_test)

In [65]:
res = pd.DataFrame({'ID' : np.array(df_test_id), 'TARGET' : y_res[:,1]})

In [66]:
res

              ID    TARGET
0     1154270440  0.218988
1     1147987574  0.221576
2     1129622364  0.247947
3      619797496  0.303286
4     7391484886  0.229379
...          ...       ...
9479  1413710992  0.314998
9480   518946240  0.205161
9481    35086884  0.149096
9482  1135289763  0.322288
9483  3110426355  0.305178

[9484 rows x 2 columns]

In [67]:
res.to_csv('sub1.csv', sep=',', header=True, index=False)